
.host {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.my-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.item {
  margin: 12px 5px;
  position: relative;
}

.main {
  /*background-color: #cecece;*/
  flex-direction: column;
  display: flex;
  min-width: 100px;
  border-top: 1px solid grey;
}

.no-border {
  border: none;
}

.card {
  margin: 12px 1px;
  position: relative;
}

.line {
  position: absolute;
  left: 50%;
  height: 10px;
  border: 1px solid grey;
}
