<div>
  <div style="margin: 12px 1px; position: relative;">
    <div style="display: flex; justify-content: center">
      <div style="display: flex; flex-direction: column; width: 100px; background-color: aqua; border-radius: 10px; min-height: 100px;justify-content: center; align-items: center;">
        <img alt="" width="50" src="../assets/hexagon.png" style="rotate: 90deg;margin-top: 15px;" />
        <h4>{{data.name}}</h4>
      </div>
    </div>
  </div>
  <!--        <div class="line"></div>-->
</div>
